<a href="https://colab.research.google.com/github/antrushin/azimut-risk-test/blob/main/azimut_risk_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Созревание до 20го дпд = due date (дата выдачи + срок договора) было более 20 дней назад.

Написать SQL запрос который выведет список всех валидных договоров, выданных от 1 июня 2021 года и созревших до дпд20, по которым посчитан параметр ROI следующим образом: это сумма всех валидных платежей в промежуток до 20 дпд по догору деленная на его сумму (amount по договору). Отсортировать по дате выдачи.

# Установим PostreSQL server

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE

In [ ]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Ипортируем необходимые библиотеки

In [ ]:
import pandas as pd
import numpy as np

Напишем функцию, которая возвращает результат запроса в виде DataFrame

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

# Загрузим пример данных

https://drive.google.com/file/d/1PVDsnklZ6EcTLFeT-DhPudUGuF_v51pT/view?usp=sharing

In [ ]:
! gdown --id 1PVDsnklZ6EcTLFeT-DhPudUGuF_v51pT

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1PVDsnklZ6EcTLFeT-DhPudUGuF_v51pT
To: /content/azimut-risk-test.zip
100% 1.40k/1.40k [00:00<00:00, 1.70MB/s]

In [ ]:
! unzip -o ./azimut-risk-test.zip

Archive:  ./azimut-risk-test.zip
  inflating: payments.csv
  inflating: specification-in-agreement.csv
  inflating: tsiagreement.csv

In [ ]:
payments = pd.read_csv('./payments.csv')

Приведем даты к соответсвующему типу

In [ ]:
payments['createdon'] = pd.to_datetime(payments['createdon'], format='%Y-%m-%d')

In [ ]:
payments

,id,createdon,tsiagreementid,status,amount
0,7CF697BA-F95F-476C-B0B5-DF84071C1F61,2022-04-04,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
1,DACFBFB7-B411-474B-BD0B-5E2FC120B967,2022-04-18,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
2,74742418-516C-4661-BEB4-35E661D6FF15,2022-04-04,E7AA78D6-4407-4D56-9C95-FD29766FB01F,Completed,2500000
3,1730C116-45EC-46C7-9AE9-FF6F62F9042C,2022-03-13,83911EA6-753D-4899-952C-F6656D6A8CE3,Completed,1800000
4,B6BBB7B3-E930-4B8A-A482-90286D029259,2022-03-20,843828BE-66FB-4C23-A1A2-094F7AE428DE,Cancelled,1000000

In [ ]:
tsiagreement = pd.read_csv('./tsiagreement.csv')

In [ ]:
tsiagreement['disbursedon'] = pd.to_datetime(tsiagreement['disbursedon'], format='%Y-%m-%d')

In [ ]:
tsiagreement

                                     id disbursedon     status
0  843828BE-66FB-4C23-A1A2-094F7AE428DE  2021-01-02     Closed
1  314BDEDB-9904-4479-B2D5-CCCBF5B8D531  2022-01-13     Active
2  E7AA78D6-4407-4D56-9C95-FD29766FB01F  2022-04-30     Closed
3  26BCD229-2533-4D3C-A215-53623618A67F  2020-12-12  Cancelled
4  83911EA6-753D-4899-952C-F6656D6A8CE3  2020-07-14     Closed
5  B950AEC1-A85A-4702-8E3B-DA2AE12437BF  2021-09-13    Overdue
6  67DFC91E-4AF3-4C31-921F-48F73E664B2A  2021-05-06     Closed
7  212B6C18-5A0B-4909-BCC5-44E16FC2194A  2021-02-17     Closed
8  FB38A39F-9094-4F6A-81E9-57735DF1195A  2020-05-30    Overdue
9  58BB7388-9779-46A3-BE19-B6F3CC047B3B  2022-01-13     Active

In [ ]:
specification_in_agreement = pd.read_csv('./specification-in-agreement.csv')

In [ ]:
specification_in_agreement

,id,specification,tsiagreementid,value
0,D757A7DB-0A01-4F85-A581-023CA0645002,Term,843828BE-66FB-4C23-A1A2-094F7AE428DE,14
1,A8AA06F5-814D-4A11-90CA-1DE25A939ECD,Amount,843828BE-66FB-4C23-A1A2-094F7AE428DE,1000000
2,A594931E-5931-4050-AB30-2E4FB51E6D80,Term,314BDEDB-9904-4479-B2D5-CCCBF5B8D531,21
3,DDF5C057-8211-4AB8-A986-7E3FC83EDCB0,Amount,314BDEDB-9904-4479-B2D5-CCCBF5B8D532,1500000
4,347FC534-9507-49EF-B179-E3AACF44CEF4,Term,E7AA78D6-4407-4D56-9C95-FD29766FB01F,21
5,6236B247-0B9C-4BD7-A606-D11762ED9DD5,Amount,E7AA78D6-4407-4D56-9C95-FD29766FB01F,2500000

# Сгенерируем данные

Логика генерации данных:
* генерируем оплаты `payments`:
    * создаем 100 платежей со случайной суммой платежа `amount` от 1000 до 100000;
    * `id` начинаются с P1000;
    * случайно проставляем `status` Completed/Cancelled в пропорции 9/1;
    * случайно проставляем `tsiagreementid` (от 0 до 19 включительно);
    * случайно проставляем дату в диапазоне (01 июня 2021, 01 июня 2021 + 45 дней);
* Генерируем условия договора `specification_in_agreement`:
    * создаем первую таблицу, где в поле `specification` устанавливаем только `Term`, значения поля `value` задаем случайным образом в диапазоне от 10 до 30 для каждого `tsiagreementid`;
    * создаем вторую таблицу, где в поле `specification` устанавливаем только `Amount`, значения поля `value` устанавливаем как сумму платежей по `tsiagreementid` со статусом `Completed` из таблицы `payments` + случайно выбранное число из списка (0, 10000, 50000, 100000). Таким образом мы получим кредиты, которые могут быть просрочены `Overdue` или закрыты `Closed`;
    * объединяем таблицы в одну;
    * добавляем id, начинаются со 100;
    * всего 40 записей получится;
* Генерируем таблицу `tsiagreement`:
    * id - от 0 до 24;
    * для всех договоров дату в поле `disbursedon` устанавливаем  01 июня 2021 г;
    * для договоров с id от 0 до 19 включительно статус рассчитываем в зависимости от выплат:
        * Если сумма платежей по договору в статусе `Completed` равна или больше суммы выданного кредита, то статус устанавливаем `Closed`;
        * Если сумма платежей по договору в статусе `Completed` меньше суммы кредита, а дата выдачи кредита `disbursedon` + срок договора `Term` больше или равен текущей дате, то устанавливаем статус `Active`;
        * Если сумма платежей по договору в статусе `Completed` меньше суммы кредита, а дата выдачи кредита `disbursedon` + срок договора `Term` меньше текущей даты, то устанавливаем статус `Overdue`;
    * для договоров с id от 20 до 24 включительно проставляем статус `Cancelled`

Для генерации дат напишем функцию.

In [ ]:
def random_date_generator(start_date, range_in_days):
  """
  функция для генерации даты в формате np.datetime64,
  принимает на вход начальную дату в формате %Y-%m-%d,
  возвращает start_date + случайное число в диапазоне range_in_days
  """
  days_to_add = np.arange(0, range_in_days)
  random_date = np.datetime64(start_date) + np.random.choice(days_to_add)
  return random_date

Зафиксируем псевдослучайность

In [ ]:
np.random.seed(0)

## Сгенерируем таблицу с оплатами

In [ ]:
t = pd.DataFrame(
    {
        'amount': np.random.randint(1000, 100000, size=100),
        'status': np.random.choice(['Completed', 'Cancelled'], 100, p=[0.9, 0.1]),
        'tsiagreementid': np.random.randint(0, 20, size=100),
        'createdon': [random_date_generator('2021-06-01', 45) for _ in range(100)],
        'id': ['P' + str(x) for x in np.arange(1000, 1100)]
    }
)

In [ ]:
t

    amount     status  tsiagreementid  createdon     id
0    69268  Completed               1 2021-07-01  P1000
1    44567  Completed              12 2021-07-14  P1001
2    43613  Cancelled               2 2021-06-19  P1002
3    46891  Completed               2 2021-06-24  P1003
4    22243  Cancelled               1 2021-06-02  P1004
..     ...        ...             ...        ...    ...
95   51624  Completed               3 2021-07-05  P1095
96   90183  Cancelled               9 2021-07-11  P1096
97   41133  Completed              18 2021-07-04  P1097
98   94790  Completed               2 2021-06-29  P1098
99   56153  Completed              19 2021-06-05  P1099

[100 rows x 5 columns]

Объединим данные с таблицей payments

In [ ]:
payments = pd.concat([payments, t], ignore_index=True, sort=False)

In [ ]:
payments

,id,createdon,tsiagreementid,status,amount
0,7CF697BA-F95F-476C-B0B5-DF84071C1F61,2022-04-04,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
1,DACFBFB7-B411-474B-BD0B-5E2FC120B967,2022-04-18,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
2,74742418-516C-4661-BEB4-35E661D6FF15,2022-04-04,E7AA78D6-4407-4D56-9C95-FD29766FB01F,Completed,2500000
3,1730C116-45EC-46C7-9AE9-FF6F62F9042C,2022-03-13,83911EA6-753D-4899-952C-F6656D6A8CE3,Completed,1800000
4,B6BBB7B3-E930-4B8A-A482-90286D029259,2022-03-20,843828BE-66FB-4C23-A1A2-094F7AE428DE,Cancelled,1000000
...,...,...,...,...,...
100,P1095,2021-07-05,3,Completed,51624
101,P1096,2021-07-11,9,Cancelled,90183
102,P1097,2021-07-04,18,Completed,41133
103,P1098,2021-06-29,2,Completed,94790
104,P1099,2021-06-05,19,Completed,56153

## Сгенерируем условия договора

In [ ]:
specification_in_agreement

,id,specification,tsiagreementid,value
0,D757A7DB-0A01-4F85-A581-023CA0645002,Term,843828BE-66FB-4C23-A1A2-094F7AE428DE,14
1,A8AA06F5-814D-4A11-90CA-1DE25A939ECD,Amount,843828BE-66FB-4C23-A1A2-094F7AE428DE,1000000
2,A594931E-5931-4050-AB30-2E4FB51E6D80,Term,314BDEDB-9904-4479-B2D5-CCCBF5B8D531,21
3,DDF5C057-8211-4AB8-A986-7E3FC83EDCB0,Amount,314BDEDB-9904-4479-B2D5-CCCBF5B8D532,1500000
4,347FC534-9507-49EF-B179-E3AACF44CEF4,Term,E7AA78D6-4407-4D56-9C95-FD29766FB01F,21
5,6236B247-0B9C-4BD7-A606-D11762ED9DD5,Amount,E7AA78D6-4407-4D56-9C95-FD29766FB01F,2500000

Сгенерируем первую таблицу

In [ ]:
t1 = \
pd.DataFrame(
    {
        'specification': ['Term'] * 20,
        'tsiagreementid': np.arange(0, 20),
        'value': np.random.randint(10, 31, size=20)
    }
)

In [ ]:
t1

   specification  tsiagreementid  value
0           Term               0     10
1           Term               1     23
2           Term               2     29
3           Term               3     19
4           Term               4     15
5           Term               5     11
6           Term               6     17
7           Term               7     18
8           Term               8     30
9           Term               9     17
10          Term              10     13
11          Term              11     22
12          Term              12     13
13          Term              13     16
14          Term              14     30
15          Term              15     17
16          Term              16     29
17          Term              17     10
18          Term              18     15
19          Term              19     21

Для генерации второй таблицы необходимо посчитать суммы проведенных платежей по каждому договору

In [ ]:
t2 = payments[payments['status'] == 'Completed'].groupby('tsiagreementid')['amount'].sum().to_frame().reset_index()

In [ ]:
t2

                          tsiagreementid   amount
0                                      0   323089
1                                      1   161507
2                                      2   258944
3                                      3   239547
4                                      4   336240
5                                      5   337396
6                                      6    82857
7                                      7   237831
8                                      8   363396
9                                      9   235944
10                                    10   225380
11                                    11   334754
12                                    12   119196
13                                    13   119400
14                                    14   121160
15                                    15    15277
16                                    16   155706
17                                    17   598823
18                                    18   243305
19                                    19   268813
20  83911EA6-753D-4899-952C-F6656D6A8CE3  1800000
21  843828BE-66FB-4C23-A1A2-094F7AE428DE  2000000
22  E7AA78D6-4407-4D56-9C95-FD29766FB01F  2500000

удалим последние 3 строки

In [ ]:
t2 = t2[:-3].copy()

Переименуем столбец

In [ ]:
t2 = t2.rename(columns={'amount': 'value'})

In [ ]:
t2.columns

Index(['tsiagreementid', 'value'], dtype='object')

Также табличка с суммами оплат нам пригодится при расчете статуса договора. Скопируем эту табличку

In [ ]:
amount_of_payments = t2.copy()

Добавим столбец `specification`, где в каждой строке установим значение `Amount`

In [ ]:
t2['specification'] = 'Amount'

In [ ]:
t2

   tsiagreementid   value specification
0               0  323089        Amount
1               1  161507        Amount
2               2  258944        Amount
3               3  239547        Amount
4               4  336240        Amount
5               5  337396        Amount
6               6   82857        Amount
7               7  237831        Amount
8               8  363396        Amount
9               9  235944        Amount
10             10  225380        Amount
11             11  334754        Amount
12             12  119196        Amount
13             13  119400        Amount
14             14  121160        Amount
15             15   15277        Amount
16             16  155706        Amount
17             17  598823        Amount
18             18  243305        Amount
19             19  268813        Amount

Теперь сгенерируем столбец со случайными суммами, которые затем добавим к value

In [ ]:
t2['bias_value'] = np.random.choice([0, 10000, 50000, 100000], size=20, p=[0.4, 0.2, 0.2, 0.2])

In [ ]:
t2

   tsiagreementid   value specification  bias_value
0               0  323089        Amount           0
1               1  161507        Amount           0
2               2  258944        Amount           0
3               3  239547        Amount      100000
4               4  336240        Amount           0
5               5  337396        Amount       50000
6               6   82857        Amount      100000
7               7  237831        Amount       50000
8               8  363396        Amount       10000
9               9  235944        Amount       10000
10             10  225380        Amount      100000
11             11  334754        Amount       10000
12             12  119196        Amount       10000
13             13  119400        Amount           0
14             14  121160        Amount       10000
15             15   15277        Amount       50000
16             16  155706        Amount       10000
17             17  598823        Amount           0
18             18  243305        Amount           0
19             19  268813        Amount       50000

In [ ]:
t2['value'] = t2['value'] + t2['bias_value']

In [ ]:
t2 = t2.drop(columns=['bias_value'])

In [ ]:
t2

   tsiagreementid   value specification
0               0  323089        Amount
1               1  161507        Amount
2               2  258944        Amount
3               3  339547        Amount
4               4  336240        Amount
5               5  387396        Amount
6               6  182857        Amount
7               7  287831        Amount
8               8  373396        Amount
9               9  245944        Amount
10             10  325380        Amount
11             11  344754        Amount
12             12  129196        Amount
13             13  119400        Amount
14             14  131160        Amount
15             15   65277        Amount
16             16  165706        Amount
17             17  598823        Amount
18             18  243305        Amount
19             19  318813        Amount

Объединим таблички

In [ ]:
t = pd.concat([t1, t2], ignore_index=True, sort=False)

Отсортируем по id договора

In [ ]:
t = t.sort_values(by=['tsiagreementid', 'specification']).reset_index(drop=True)

In [ ]:
t.head()

  specification tsiagreementid   value
0        Amount              0  323089
1          Term              0      10
2        Amount              1  161507
3          Term              1      23
4        Amount              2  258944

Добавим `id`

In [ ]:
t['id'] = np.arange(100, 140)

In [ ]:
t.head()

  specification tsiagreementid   value   id
0        Amount              0  323089  100
1          Term              0      10  101
2        Amount              1  161507  102
3          Term              1      23  103
4        Amount              2  258944  104

Объединим с таблицей `specification_in_agreement`

In [ ]:
specification_in_agreement = pd.concat([specification_in_agreement, t], ignore_index=True, sort=False)

In [ ]:
specification_in_agreement.head(10)

,id,specification,tsiagreementid,value
0,D757A7DB-0A01-4F85-A581-023CA0645002,Term,843828BE-66FB-4C23-A1A2-094F7AE428DE,14
1,A8AA06F5-814D-4A11-90CA-1DE25A939ECD,Amount,843828BE-66FB-4C23-A1A2-094F7AE428DE,1000000
2,A594931E-5931-4050-AB30-2E4FB51E6D80,Term,314BDEDB-9904-4479-B2D5-CCCBF5B8D531,21
3,DDF5C057-8211-4AB8-A986-7E3FC83EDCB0,Amount,314BDEDB-9904-4479-B2D5-CCCBF5B8D532,1500000
4,347FC534-9507-49EF-B179-E3AACF44CEF4,Term,E7AA78D6-4407-4D56-9C95-FD29766FB01F,21
5,6236B247-0B9C-4BD7-A606-D11762ED9DD5,Amount,E7AA78D6-4407-4D56-9C95-FD29766FB01F,2500000
6,100,Amount,0,323089
7,101,Term,0,10
8,102,Amount,1,161507
9,103,Term,1,23

## Сгенерируем таблицу с договорами

Создадим таблицу, где проставим id и дату договоров

In [ ]:
t = \
pd.DataFrame(
    {
        'id': np.arange(0, 25),
        'disbursedon': np.datetime64('2021-06-01')
    }
)

In [ ]:
t.head()

   id disbursedon
0   0  2021-06-01
1   1  2021-06-01
2   2  2021-06-01
3   3  2021-06-01
4   4  2021-06-01

Присоединим таблицу `amount_of_payments`

In [ ]:
t = t.merge(amount_of_payments, how='left', left_on='id', right_on='tsiagreementid')

 Избавимся от лишних столбцов

In [ ]:
t = t.drop(columns=['tsiagreementid'])

Переименуем столбец с суммами оплат

In [ ]:
t = t.rename(columns={'value': 'amount_of_payments'})

In [ ]:
t

    id disbursedon  amount_of_payments
0    0  2021-06-01            323089.0
1    1  2021-06-01            161507.0
2    2  2021-06-01            258944.0
3    3  2021-06-01            239547.0
4    4  2021-06-01            336240.0
5    5  2021-06-01            337396.0
6    6  2021-06-01             82857.0
7    7  2021-06-01            237831.0
8    8  2021-06-01            363396.0
9    9  2021-06-01            235944.0
10  10  2021-06-01            225380.0
11  11  2021-06-01            334754.0
12  12  2021-06-01            119196.0
13  13  2021-06-01            119400.0
14  14  2021-06-01            121160.0
15  15  2021-06-01             15277.0
16  16  2021-06-01            155706.0
17  17  2021-06-01            598823.0
18  18  2021-06-01            243305.0
19  19  2021-06-01            268813.0
20  20  2021-06-01                 NaN
21  21  2021-06-01                 NaN
22  22  2021-06-01                 NaN
23  23  2021-06-01                 NaN
24  24  2021-06-01                 NaN

Присоединим таблицу с суммами по договорам

In [ ]:
amount_of_tsiagreement = \
specification_in_agreement.loc[specification_in_agreement['specification'] == 'Amount', ['tsiagreementid', 'value']]

In [ ]:
amount_of_tsiagreement

                          tsiagreementid    value
1   843828BE-66FB-4C23-A1A2-094F7AE428DE  1000000
3   314BDEDB-9904-4479-B2D5-CCCBF5B8D532  1500000
5   E7AA78D6-4407-4D56-9C95-FD29766FB01F  2500000
6                                      0   323089
8                                      1   161507
10                                     2   258944
12                                     3   339547
14                                     4   336240
16                                     5   387396
18                                     6   182857
20                                     7   287831
22                                     8   373396
24                                     9   245944
26                                    10   325380
28                                    11   344754
30                                    12   129196
32                                    13   119400
34                                    14   131160
36                                    15    65277
38                                    16   165706
40                                    17   598823
42                                    18   243305
44                                    19   318813

In [ ]:
t = t.merge(amount_of_tsiagreement, how='left', left_on='id', right_on='tsiagreementid')

In [ ]:
t = t.drop(columns=['tsiagreementid']).rename(columns={'value':'amount_of_tsiagreement'})

In [ ]:
t

    id disbursedon  amount_of_payments  amount_of_tsiagreement
0    0  2021-06-01            323089.0                323089.0
1    1  2021-06-01            161507.0                161507.0
2    2  2021-06-01            258944.0                258944.0
3    3  2021-06-01            239547.0                339547.0
4    4  2021-06-01            336240.0                336240.0
5    5  2021-06-01            337396.0                387396.0
6    6  2021-06-01             82857.0                182857.0
7    7  2021-06-01            237831.0                287831.0
8    8  2021-06-01            363396.0                373396.0
9    9  2021-06-01            235944.0                245944.0
10  10  2021-06-01            225380.0                325380.0
11  11  2021-06-01            334754.0                344754.0
12  12  2021-06-01            119196.0                129196.0
13  13  2021-06-01            119400.0                119400.0
14  14  2021-06-01            121160.0                131160.0
15  15  2021-06-01             15277.0                 65277.0
16  16  2021-06-01            155706.0                165706.0
17  17  2021-06-01            598823.0                598823.0
18  18  2021-06-01            243305.0                243305.0
19  19  2021-06-01            268813.0                318813.0
20  20  2021-06-01                 NaN                     NaN
21  21  2021-06-01                 NaN                     NaN
22  22  2021-06-01                 NaN                     NaN
23  23  2021-06-01                 NaN                     NaN
24  24  2021-06-01                 NaN                     NaN

Также добавим срок договора

In [ ]:
term_of_tsiagreement = \
specification_in_agreement.loc[specification_in_agreement['specification'] == 'Term', ['tsiagreementid', 'value']]

In [ ]:
t = t.merge(term_of_tsiagreement, how='left', left_on='id', right_on='tsiagreementid')

In [ ]:
t = t.drop(columns=['tsiagreementid']).rename(columns={'value':'term_of_tsiagreement'})

In [ ]:
t['term_of_tsiagreement'] = t['term_of_tsiagreement'].fillna(0).astype('int')

In [ ]:
t

,id,disbursedon,amount_of_payments,amount_of_tsiagreement,term_of_tsiagreement
0,0,2021-06-01,323089.0,323089.0,10
1,1,2021-06-01,161507.0,161507.0,23
2,2,2021-06-01,258944.0,258944.0,29
3,3,2021-06-01,239547.0,339547.0,19
4,4,2021-06-01,336240.0,336240.0,15
5,5,2021-06-01,337396.0,387396.0,11
6,6,2021-06-01,82857.0,182857.0,17
7,7,2021-06-01,237831.0,287831.0,18
8,8,2021-06-01,363396.0,373396.0,30
9,9,2021-06-01,235944.0,245944.0,17
10,10,2021-06-01,225380.0,325380.0,13
11,11,2021-06-01,334754.0,344754.0,22
12,12,2021-06-01,119196.0,129196.0,13
13,13,2021-06-01,119400.0,119400.0,16
14,14,2021-06-01,121160.0,131160.0,30
15,15,2021-06-01,15277.0,65277.0,17
16,16,2021-06-01,155706.0,165706.0,29
17,17,2021-06-01,598823.0,598823.0,10
18,18,2021-06-01,243305.0,243305.0,15
19,19,2021-06-01,268813.0,318813.0,21
20,20,2021-06-01,NaN,NaN,0
21,21,2021-06-01,NaN,NaN,0
22,22,2021-06-01,NaN,NaN,0
23,23,2021-06-01,NaN,NaN,0
24,24,2021-06-01,NaN,NaN,0

Добавим столбец `status`, исходя из описанной ранее логики:
* Если сумма платежей по договору в статусе `Completed` равна или больше суммы выданного кредита, то статус устанавливаем `Closed`;
* Если сумма платежей по договору в статусе `Completed` меньше суммы кредита, а дата выдачи кредита `disbursedon` + срок договора `Term` больше или равен текущей дате, то устанавливаем статус `Active`;
* Если сумма платежей по договору в статусе `Completed` меньше суммы кредита, а дата выдачи кредита `disbursedon` + срок договора `Term` меньше текущей даты, то устанавливаем статус `Overdue`;

In [ ]:
t.head()

,id,disbursedon,amount_of_payments,amount_of_tsiagreement,term_of_tsiagreement
0,0,2021-06-01,323089.0,323089.0,10
1,1,2021-06-01,161507.0,161507.0,23
2,2,2021-06-01,258944.0,258944.0,29
3,3,2021-06-01,239547.0,339547.0,19
4,4,2021-06-01,336240.0,336240.0,15

In [ ]:
t['status'] = \
t.apply((lambda x: 'Cancelled' if x.id > 19
         else 'Completed' if x.amount_of_payments >= x.amount_of_tsiagreement
         else 'Active' if np.datetime64('today') < x.disbursedon + pd.Timedelta(x['term_of_tsiagreement'], unit='D')
         else 'Overdue' if x.amount_of_payments < x.amount_of_tsiagreement
         else 'Unknown'), axis=1)

In [ ]:
t

,id,disbursedon,amount_of_payments,amount_of_tsiagreement,term_of_tsiagreement,status
0,0,2021-06-01,323089.0,323089.0,10,Completed
1,1,2021-06-01,161507.0,161507.0,23,Completed
2,2,2021-06-01,258944.0,258944.0,29,Completed
3,3,2021-06-01,239547.0,339547.0,19,Overdue
4,4,2021-06-01,336240.0,336240.0,15,Completed
5,5,2021-06-01,337396.0,387396.0,11,Overdue
6,6,2021-06-01,82857.0,182857.0,17,Overdue
7,7,2021-06-01,237831.0,287831.0,18,Overdue
8,8,2021-06-01,363396.0,373396.0,30,Overdue
9,9,2021-06-01,235944.0,245944.0,17,Overdue
10,10,2021-06-01,225380.0,325380.0,13,Overdue
11,11,2021-06-01,334754.0,344754.0,22,Overdue
12,12,2021-06-01,119196.0,129196.0,13,Overdue
13,13,2021-06-01,119400.0,119400.0,16,Completed
14,14,2021-06-01,121160.0,131160.0,30,Overdue
15,15,2021-06-01,15277.0,65277.0,17,Overdue
16,16,2021-06-01,155706.0,165706.0,29,Overdue
17,17,2021-06-01,598823.0,598823.0,10,Completed
18,18,2021-06-01,243305.0,243305.0,15,Completed
19,19,2021-06-01,268813.0,318813.0,21,Overdue
20,20,2021-06-01,NaN,NaN,0,Cancelled
21,21,2021-06-01,NaN,NaN,0,Cancelled
22,22,2021-06-01,NaN,NaN,0,Cancelled
23,23,2021-06-01,NaN,NaN,0,Cancelled
24,24,2021-06-01,NaN,NaN,0,Cancelled

Теперь объединим полученные данные с таблицей `tsiagreement`

In [ ]:
tsiagreement = pd.concat([tsiagreement, t[['id', 'disbursedon', 'status']]], ignore_index=True, sort=False)

In [ ]:
tsiagreement

                                      id disbursedon     status
0   843828BE-66FB-4C23-A1A2-094F7AE428DE  2021-01-02     Closed
1   314BDEDB-9904-4479-B2D5-CCCBF5B8D531  2022-01-13     Active
2   E7AA78D6-4407-4D56-9C95-FD29766FB01F  2022-04-30     Closed
3   26BCD229-2533-4D3C-A215-53623618A67F  2020-12-12  Cancelled
4   83911EA6-753D-4899-952C-F6656D6A8CE3  2020-07-14     Closed
5   B950AEC1-A85A-4702-8E3B-DA2AE12437BF  2021-09-13    Overdue
6   67DFC91E-4AF3-4C31-921F-48F73E664B2A  2021-05-06     Closed
7   212B6C18-5A0B-4909-BCC5-44E16FC2194A  2021-02-17     Closed
8   FB38A39F-9094-4F6A-81E9-57735DF1195A  2020-05-30    Overdue
9   58BB7388-9779-46A3-BE19-B6F3CC047B3B  2022-01-13     Active
10                                     0  2021-06-01  Completed
11                                     1  2021-06-01  Completed
12                                     2  2021-06-01  Completed
13                                     3  2021-06-01    Overdue
14                                     4  2021-06-01  Completed
15                                     5  2021-06-01    Overdue
16                                     6  2021-06-01    Overdue
17                                     7  2021-06-01    Overdue
18                                     8  2021-06-01    Overdue
19                                     9  2021-06-01    Overdue
20                                    10  2021-06-01    Overdue
21                                    11  2021-06-01    Overdue
22                                    12  2021-06-01    Overdue
23                                    13  2021-06-01  Completed
24                                    14  2021-06-01    Overdue
25                                    15  2021-06-01    Overdue
26                                    16  2021-06-01    Overdue
27                                    17  2021-06-01  Completed
28                                    18  2021-06-01  Completed
29                                    19  2021-06-01    Overdue
30                                    20  2021-06-01  Cancelled
31                                    21  2021-06-01  Cancelled
32                                    22  2021-06-01  Cancelled
33                                    23  2021-06-01  Cancelled
34                                    24  2021-06-01  Cancelled

## Результат

Получили 3 таблицы

In [ ]:
payments

,id,createdon,tsiagreementid,status,amount
0,7CF697BA-F95F-476C-B0B5-DF84071C1F61,2022-04-04,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
1,DACFBFB7-B411-474B-BD0B-5E2FC120B967,2022-04-18,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
2,74742418-516C-4661-BEB4-35E661D6FF15,2022-04-04,E7AA78D6-4407-4D56-9C95-FD29766FB01F,Completed,2500000
3,1730C116-45EC-46C7-9AE9-FF6F62F9042C,2022-03-13,83911EA6-753D-4899-952C-F6656D6A8CE3,Completed,1800000
4,B6BBB7B3-E930-4B8A-A482-90286D029259,2022-03-20,843828BE-66FB-4C23-A1A2-094F7AE428DE,Cancelled,1000000
...,...,...,...,...,...
100,P1095,2021-07-05,3,Completed,51624
101,P1096,2021-07-11,9,Cancelled,90183
102,P1097,2021-07-04,18,Completed,41133
103,P1098,2021-06-29,2,Completed,94790
104,P1099,2021-06-05,19,Completed,56153

In [ ]:
specification_in_agreement

,id,specification,tsiagreementid,value
0,D757A7DB-0A01-4F85-A581-023CA0645002,Term,843828BE-66FB-4C23-A1A2-094F7AE428DE,14
1,A8AA06F5-814D-4A11-90CA-1DE25A939ECD,Amount,843828BE-66FB-4C23-A1A2-094F7AE428DE,1000000
2,A594931E-5931-4050-AB30-2E4FB51E6D80,Term,314BDEDB-9904-4479-B2D5-CCCBF5B8D531,21
3,DDF5C057-8211-4AB8-A986-7E3FC83EDCB0,Amount,314BDEDB-9904-4479-B2D5-CCCBF5B8D532,1500000
4,347FC534-9507-49EF-B179-E3AACF44CEF4,Term,E7AA78D6-4407-4D56-9C95-FD29766FB01F,21
5,6236B247-0B9C-4BD7-A606-D11762ED9DD5,Amount,E7AA78D6-4407-4D56-9C95-FD29766FB01F,2500000
6,100,Amount,0,323089
7,101,Term,0,10
8,102,Amount,1,161507
9,103,Term,1,23
10,104,Amount,2,258944
11,105,Term,2,29
12,106,Amount,3,339547
13,107,Term,3,19
14,108,Amount,4,336240
15,109,Term,4,15
16,110,Amount,5,387396
17,111,Term,5,11
18,112,Amount,6,182857
19,113,Term,6,17
20,114,Amount,7,287831
21,115,Term,7,18
22,116,Amount,8,373396
23,117,Term,8,30
24,118,Amount,9,245944
25,119,Term,9,17
26,120,Amount,10,325380
27,121,Term,10,13
28,122,Amount,11,344754
29,123,Term,11,22
30,124,Amount,12,129196
31,125,Term,12,13
32,126,Amount,13,119400
33,127,Term,13,16
34,128,Amount,14,131160
35,129,Term,14,30
36,130,Amount,15,65277
37,131,Term,15,17
38,132,Amount,16,165706
39,133,Term,16,29
40,134,Amount,17,598823
41,135,Term,17,10
42,136,Amount,18,243305
43,137,Term,18,15
44,138,Amount,19,318813
45,139,Term,19,21

In [ ]:
tsiagreement

                                      id disbursedon     status
0   843828BE-66FB-4C23-A1A2-094F7AE428DE  2021-01-02     Closed
1   314BDEDB-9904-4479-B2D5-CCCBF5B8D531  2022-01-13     Active
2   E7AA78D6-4407-4D56-9C95-FD29766FB01F  2022-04-30     Closed
3   26BCD229-2533-4D3C-A215-53623618A67F  2020-12-12  Cancelled
4   83911EA6-753D-4899-952C-F6656D6A8CE3  2020-07-14     Closed
5   B950AEC1-A85A-4702-8E3B-DA2AE12437BF  2021-09-13    Overdue
6   67DFC91E-4AF3-4C31-921F-48F73E664B2A  2021-05-06     Closed
7   212B6C18-5A0B-4909-BCC5-44E16FC2194A  2021-02-17     Closed
8   FB38A39F-9094-4F6A-81E9-57735DF1195A  2020-05-30    Overdue
9   58BB7388-9779-46A3-BE19-B6F3CC047B3B  2022-01-13     Active
10                                     0  2021-06-01  Completed
11                                     1  2021-06-01  Completed
12                                     2  2021-06-01  Completed
13                                     3  2021-06-01    Overdue
14                                     4  2021-06-01  Completed
15                                     5  2021-06-01    Overdue
16                                     6  2021-06-01    Overdue
17                                     7  2021-06-01    Overdue
18                                     8  2021-06-01    Overdue
19                                     9  2021-06-01    Overdue
20                                    10  2021-06-01    Overdue
21                                    11  2021-06-01    Overdue
22                                    12  2021-06-01    Overdue
23                                    13  2021-06-01  Completed
24                                    14  2021-06-01    Overdue
25                                    15  2021-06-01    Overdue
26                                    16  2021-06-01    Overdue
27                                    17  2021-06-01  Completed
28                                    18  2021-06-01  Completed
29                                    19  2021-06-01    Overdue
30                                    20  2021-06-01  Cancelled
31                                    21  2021-06-01  Cancelled
32                                    22  2021-06-01  Cancelled
33                                    23  2021-06-01  Cancelled
34                                    24  2021-06-01  Cancelled

# Загрузим данные на сервер

In [ ]:
payments.to_sql('payments', con, index=False, if_exists='replace', method='multi')

In [ ]:
tsiagreement.to_sql('tsiagreement', con, index=False, if_exists='replace', method='multi')

In [ ]:
specification_in_agreement.to_sql('specification_in_agreement', con, index=False, if_exists='replace', method='multi')

Проверим

In [ ]:
table_names = ['payments', 'tsiagreement', 'specification_in_agreement']

In [ ]:
for table_name in table_names:
    sql = f'''select * from {table_name}'''
    print(f'table name: {table_name}')
    display(select(sql))
    print('--end-of-table--', '\n')

table name: payments

,id,createdon,tsiagreementid,status,amount
0,7CF697BA-F95F-476C-B0B5-DF84071C1F61,2022-04-04,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
1,DACFBFB7-B411-474B-BD0B-5E2FC120B967,2022-04-18,843828BE-66FB-4C23-A1A2-094F7AE428DE,Completed,1000000
2,74742418-516C-4661-BEB4-35E661D6FF15,2022-04-04,E7AA78D6-4407-4D56-9C95-FD29766FB01F,Completed,2500000
3,1730C116-45EC-46C7-9AE9-FF6F62F9042C,2022-03-13,83911EA6-753D-4899-952C-F6656D6A8CE3,Completed,1800000
4,B6BBB7B3-E930-4B8A-A482-90286D029259,2022-03-20,843828BE-66FB-4C23-A1A2-094F7AE428DE,Cancelled,1000000
...,...,...,...,...,...
100,P1095,2021-07-05,3,Completed,51624
101,P1096,2021-07-11,9,Cancelled,90183
102,P1097,2021-07-04,18,Completed,41133
103,P1098,2021-06-29,2,Completed,94790
104,P1099,2021-06-05,19,Completed,56153

--end-of-table--

table name: tsiagreement

                                      id disbursedon     status
0   843828BE-66FB-4C23-A1A2-094F7AE428DE  2021-01-02     Closed
1   314BDEDB-9904-4479-B2D5-CCCBF5B8D531  2022-01-13     Active
2   E7AA78D6-4407-4D56-9C95-FD29766FB01F  2022-04-30     Closed
3   26BCD229-2533-4D3C-A215-53623618A67F  2020-12-12  Cancelled
4   83911EA6-753D-4899-952C-F6656D6A8CE3  2020-07-14     Closed
5   B950AEC1-A85A-4702-8E3B-DA2AE12437BF  2021-09-13    Overdue
6   67DFC91E-4AF3-4C31-921F-48F73E664B2A  2021-05-06     Closed
7   212B6C18-5A0B-4909-BCC5-44E16FC2194A  2021-02-17     Closed
8   FB38A39F-9094-4F6A-81E9-57735DF1195A  2020-05-30    Overdue
9   58BB7388-9779-46A3-BE19-B6F3CC047B3B  2022-01-13     Active
10                                     0  2021-06-01  Completed
11                                     1  2021-06-01  Completed
12                                     2  2021-06-01  Completed
13                                     3  2021-06-01    Overdue
14                                     4  2021-06-01  Completed
15                                     5  2021-06-01    Overdue
16                                     6  2021-06-01    Overdue
17                                     7  2021-06-01    Overdue
18                                     8  2021-06-01    Overdue
19                                     9  2021-06-01    Overdue
20                                    10  2021-06-01    Overdue
21                                    11  2021-06-01    Overdue
22                                    12  2021-06-01    Overdue
23                                    13  2021-06-01  Completed
24                                    14  2021-06-01    Overdue
25                                    15  2021-06-01    Overdue
26                                    16  2021-06-01    Overdue
27                                    17  2021-06-01  Completed
28                                    18  2021-06-01  Completed
29                                    19  2021-06-01    Overdue
30                                    20  2021-06-01  Cancelled
31                                    21  2021-06-01  Cancelled
32                                    22  2021-06-01  Cancelled
33                                    23  2021-06-01  Cancelled
34                                    24  2021-06-01  Cancelled

--end-of-table--

table name: specification_in_agreement

,id,specification,tsiagreementid,value
0,D757A7DB-0A01-4F85-A581-023CA0645002,Term,843828BE-66FB-4C23-A1A2-094F7AE428DE,14
1,A8AA06F5-814D-4A11-90CA-1DE25A939ECD,Amount,843828BE-66FB-4C23-A1A2-094F7AE428DE,1000000
2,A594931E-5931-4050-AB30-2E4FB51E6D80,Term,314BDEDB-9904-4479-B2D5-CCCBF5B8D531,21
3,DDF5C057-8211-4AB8-A986-7E3FC83EDCB0,Amount,314BDEDB-9904-4479-B2D5-CCCBF5B8D532,1500000
4,347FC534-9507-49EF-B179-E3AACF44CEF4,Term,E7AA78D6-4407-4D56-9C95-FD29766FB01F,21
5,6236B247-0B9C-4BD7-A606-D11762ED9DD5,Amount,E7AA78D6-4407-4D56-9C95-FD29766FB01F,2500000
6,100,Amount,0,323089
7,101,Term,0,10
8,102,Amount,1,161507
9,103,Term,1,23
10,104,Amount,2,258944
11,105,Term,2,29
12,106,Amount,3,339547
13,107,Term,3,19
14,108,Amount,4,336240
15,109,Term,4,15
16,110,Amount,5,387396
17,111,Term,5,11
18,112,Amount,6,182857
19,113,Term,6,17
20,114,Amount,7,287831
21,115,Term,7,18
22,116,Amount,8,373396
23,117,Term,8,30
24,118,Amount,9,245944
25,119,Term,9,17
26,120,Amount,10,325380
27,121,Term,10,13
28,122,Amount,11,344754
29,123,Term,11,22
30,124,Amount,12,129196
31,125,Term,12,13
32,126,Amount,13,119400
33,127,Term,13,16
34,128,Amount,14,131160
35,129,Term,14,30
36,130,Amount,15,65277
37,131,Term,15,17
38,132,Amount,16,165706
39,133,Term,16,29
40,134,Amount,17,598823
41,135,Term,17,10
42,136,Amount,18,243305
43,137,Term,18,15
44,138,Amount,19,318813
45,139,Term,19,21

--end-of-table--

# Для удобства запишем описание столбцов.

**payments** (таблица платежей)
* id - id платежа (PK)
* createdon - дата создания записи (дата платежа) в формате yyyy-mm-dd
* tsiagreementid - id договора (FK)
* status - статус платежа (значения: Completed/Cancelled)
* amount - сумма платежа

**tsiagreement** (таблица договоров)
* id - id договора (PK)
* disbursedon - выплачено на (дата выдачи кредита / заключения договора) в формате yyyy-mm-dd
* status - статус договора (значения: Closed/Active/Cancelled/Overdue)

**specification_in_agreement** (условия по договору)
* id - id (PK)
* specification - условия (значения: Term (срок займа В ДНЯХ / срок действия договора) / Amount (общая сумма кредита))
* tsiagreementid - id договора (FK)
* value - значение (дни/сумма)

# Решение и ответ

Продублируем задачу.

Созревание до 20го дпд = due date (дата выдачи + срок договора) было более 20 дней назад.

Написать SQL запрос который выведет список всех валидных договоров, выданных от 1 июня 2021 года и созревших до дпд20, по которым посчитан параметр ROI следующим образом: это сумма всех валидных платежей в промежуток до 20 дпд по догору деленная на его сумму (amount по договору). Отсортировать по дате выдачи.

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
sql = '''
/* выделим срок по договору в отдельную таблицу */
with spec_term as (
    select t.tsiagreementid ,t.value
    from specification_in_agreement t
    where t.specification='Term'
),

/* выделим сумму по договору в отдельную таблицу */
spec_amount as (
    select t.tsiagreementid, t.value
    from specification_in_agreement t
    where t.specification='Amount'
),

/* выберем все контракты, кроме "Cancelled", от 1 июня 2021 г */
valid_contracts as (
    select t.*
    from tsiagreement t
    where cast(t.disbursedon as timestamp) = '2021-06-01'
    and t.status != 'Cancelled'
),

/* присоединим таблицы со сроком и суммой к valid_contracts
и расчитаем dpd20 для каждого договора */
valid_contracts_dpd20 as (
    select t.*, st.value as term, sa.value as amount,
    cast(t.disbursedon as timestamp) + interval '1' day * (st.value + 20) as dpd20
    from valid_contracts t
    left join spec_term st on st.tsiagreementid=t.id
    left join spec_amount sa on sa.tsiagreementid=t.id
),

/* отберем платежи в статусе `Completed` */
completed_payments as (
    select t.* from payments t
    where t.status='Completed'
),

/* присоединим disbursedon и dpd20 к отобранным платежам */
completed_payments_dpd20 as (
    select t.*, vcd.disbursedon, vcd.dpd20
    from completed_payments t
    join valid_contracts_dpd20 vcd on t.tsiagreementid=vcd.id
),

/* проставим признак before_dpd20. Если createdon в промежутке disbursedon и dpd20,
то True, в других случаях False */
completed_payments_dpd20_beforedpd20 as (
    select t.*,
    case
        when cast(t.createdon as timestamp) between
            cast(t.disbursedon as timestamp) and cast(t.dpd20 as timestamp) then 'True'
        else 'False'
    end as before_dpd20
    from completed_payments_dpd20 t
),

/* подсчитаем суммы платежей по каждому договору, где before_dpd20 = 'True' */
sum_of_payments_by_contracts as (
    select t.tsiagreementid, sum(t.amount) as sum_of_payments
    from completed_payments_dpd20_beforedpd20 t
    where before_dpd20 = 'True'
    group by t.tsiagreementid
)

/* присоединим общие суммы договоров и подсчитаем roi, отсортируем по дате выдачи */
select vcd.disbursedon, t.*, vcd.amount as contract_amount, (t.sum_of_payments / vcd.amount) as roi
from sum_of_payments_by_contracts t
left join valid_contracts_dpd20 vcd on t.tsiagreementid=vcd.id
order by vcd.disbursedon

'''
select(sql)

   disbursedon tsiagreementid  sum_of_payments  contract_amount       roi
0   2021-06-01              0         240548.0           323089  0.744526
1   2021-06-01              1         161507.0           161507  1.000000
2   2021-06-01              2         258944.0           258944  1.000000
3   2021-06-01              3         141956.0           339547  0.418075
4   2021-06-01              4         311758.0           336240  0.927189
5   2021-06-01              5         174570.0           387396  0.450624
6   2021-06-01              6          82857.0           182857  0.453125
7   2021-06-01              7         144614.0           287831  0.502427
8   2021-06-01              8         363396.0           373396  0.973219
9   2021-06-01              9         142656.0           245944  0.580034
10  2021-06-01             10         144679.0           325380  0.444646
11  2021-06-01             11         252972.0           344754  0.733775
12  2021-06-01             12          74629.0           129196  0.577642
13  2021-06-01             13         119400.0           119400  1.000000
14  2021-06-01             14         121160.0           131160  0.923757
15  2021-06-01             15          15277.0            65277  0.234033
16  2021-06-01             16         155706.0           165706  0.939652
17  2021-06-01             17         598823.0           598823  1.000000
18  2021-06-01             18         243305.0           243305  1.000000
19  2021-06-01             19         268813.0           318813  0.843168